<h1>On Call Supporters</h1>
<hr />

<%= link_to 'Add Supporter', new_supporter_path %>

<h1> Developers </h1>
<% @devs.each do |dev| %>
	<%= link_to h(dev.name), dev %><br />
<% end %>

<h1> IT </h1>
<% @its.each do |it| %>
	<%= link_to h(it.name), it %><br />
<% end %>

